body {
  margin: 0;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  padding-bottom: 90px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.location {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.location img {
  width: 25px;
  margin-right: 8px;
}

.header-icons img {
  width: 26px;
  margin-left: 4px;
  margin-top: 20px;
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  gap: 8px;
  margin-left: 10px;
  margin-top: 8px;
}

.filter-btn {
  border: 1.5px solid #999;
  border-radius: 24px;
  padding: 6px 18px;
  background: white;
  font-size: 14px;
  color: #8B8B8B;
  cursor: pointer;
}

.filter-btn.active {
  background-color: #EAEAEA;
  color: #8B8B8B;
  border: 1.5px solid #8B8B8B;
}

.card-list {
  padding: 20px 25px;
}

.group-card {
  background: white;
  border-radius: 18px;
  border: 2px solid #2a6b2f;
  margin-bottom: 12px;
  padding: 10px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 4px;
}

.nickname {
  flex: 1;
  font-size: 14px;
  margin-left: 4px;
  font-weight: 600;
}

.d-day {
  font-weight: bold;
  color: #444;
  margin-right: 10px;
}

.card-content {
  display: flex;
  margin-top: 8px;
}

.product-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

.product-info {
  flex: 1;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 4px;
}

.price {
  color: #222;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 13px;
}

.location-time {
  font-size: 11px;
  color: #999;
  margin-bottom: 4px;
}

.tags {
  margin: 8px 0;
}

.tag {
  display: inline-block;
  background-color: #e3f3e7;
  color: #2a6b2f;
  border-radius: 12px;
  font-size: 11px;
  padding: 3px 6px;
  margin-right: 4px;
}

.recruit {
  font-weight: bold;
  color: #222;
  font-size: 14px;
  margin-top: 2px;
  margin-left: 160px;
}

.add-btn {
  position: fixed;
  bottom: 110px;
  right: 20px;
  background-color: #2a6b2f;
  color: white;
  font-size: 40px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 16px 0;
}

.top-logo-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-logo {
  width: 60px;
  height: auto;
  margin-bottom: 4px;
  margin-right: 40px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: #333;
}


