body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  padding-bottom: 80px; /* 하단바 영역 확보 */
}

.map-title {
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.map-title img {
  width: 18px;
  height: 18px;
}

.map-image {
  width: 100%;
}
